<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <distributable/>
    <display-name>tekila</display-name>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/login.xhtml</location>
    </error-page>
    <!--<error-page>-->
        <!--<error-code>500</error-code>-->
        <!--<location>/error500.html</location>-->
    <!--</error-page>-->
    <welcome-file-list>
        <welcome-file>login.xhtml</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>JSFServlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSFServlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DataExporterServlet</servlet-name>
        <servlet-class>com.jaravir.tekila.ui.servlet.export.DataExportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataExporterServlet</servlet-name>
        <url-pattern>/export/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>rest</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>com.jaravir.tekila.ui.servket.redirect.RedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/tekila/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring-security.xml
        </param-value>
    </context-param>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/reseller/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>ResellerFilter</filter-name>
        <filter-class>reseller.ResellerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ResellerFilter</filter-name>
        <url-pattern>/reseller/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TekilaFilter</filter-name>
        <filter-class>com.jaravir.tekila.ui.filter.TekilaFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TekilaFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PrimeFacesFileUpload</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFacesFileUpload</filter-name>
        <servlet-name>JSFServlet</servlet-name>
    </filter-mapping>

    <mime-mapping>
        <extension>xlsx</extension>
        <mime-type>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</mime-type>
    </mime-mapping>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <security-role>
        <role-name>backoffice</role-name>
    </security-role>
    <security-role>
        <role-name>administrators</role-name>
    </security-role>
    <security-role>
        <role-name>sales</role-name>
    </security-role>
    <security-role>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <role-name>finance</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>public</web-resource-name>
            <url-pattern>/login.xhtml</url-pattern>
            <url-pattern>/error.xhtml</url-pattern>
            <url-pattern>/javax.faces.resource/*</url-pattern>
            <url-pattern>/tekila/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>secured</web-resource-name>
            <url-pattern>*.xhtml</url-pattern>
            <url-pattern>/export/*</url-pattern>
            <url-pattern>/faces/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>backoffice</role-name>
            <role-name>administrators</role-name>
            <role-name>sales</role-name>
            <role-name>finance</role-name>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>tekilaLoginRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/login.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <listener>
        <listener-class>com.jaravir.tekila.ui.listener.UserSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config.xml</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>#{loginManager.theme}</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.jaravir.tekila.tt.redirect.showticket.address</param-name>
        <param-value>https://ttt.azerfon.az/showticket&amp;ticket_id=%d&amp;key=%s</param-value>
    </context-param>
    <context-param>
        <param-name>com.jaravir.tekila.tt.redirect.main.address</param-name>
        <param-value>https://ttt.azerfon.az/tickets?key=%s</param-value>
    </context-param>
    <context-param>
        <param-name>com.jaravir.tekila.tt.add.redirect</param-name>
        <param-value>https://ttt.azerfon.az/addticket?key=%s&amp;contract_id=%s&amp;provider=%d</param-value>
    </context-param>

</web-app>